@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: #010109;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff;
  background-color: black;
  width: 100%;
}

.navbar-logo-and-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  font-size: 1.2rem;
}

.navbar-logo-and-text img {
  width: 10%;
}

.navbar-links a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 0.3em 1.5em;
  font-size: 1.2em;
  margin: 5px;
  border-radius: 30px;
}

.navbar-links a:hover {
  background-color: #fff;
  color: black;
}

#hero {
  height: 100vh;
  width: 100vw;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#first {
  height: 20%;
  width: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.glassdoor-btn {
  margin: 50px;
  padding: 12px 18px;
  font-size: 19px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: 2s linear ease;
}
.glassdoor-btn:hover {
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
}

/* =============   second section start here ============= */

#second {
  height: 100vh;
  width: 100vw;
  background-color: #010109;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#second #second-txt {
  color: white;
  text-align: center;
  font-family: "Outfit", sans-serif;
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 100;
}

#second #second-video {
  width: 80%;
  height: 75%;
  margin-top: 25px;
  background-color: rgb(54, 54, 54);
  border-radius: 30px;
}

/* =============   Third section start here ============= */

#third {
  height: 100vh;
  width: 100vw;
  background: #010109;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#third > #third-txt {
  font-size: 25px;
  color: white;
  font-size: 100;
  padding-bottom: 20px;
}

#third > #cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

#cards {
  width: 350px;
  height: 500px;
  background-color: #414141;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
  color: rgb(210, 210, 210);
}

#cards-img {
  height: 200px;
}

#cards-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cards-text {
  padding: 10px;
  text-align: center;
}

#cards-text > h2 {
  padding: 10px;
}

#cards-text > p {
  font-size: 18px;
}

#cards-text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

#cards-text button:hover {
  background-color: #0056b3;
}

#secthird-btn {
  margin: 0 auto;
  padding: 12px 30px;
  display: block;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

#secthird-btn:hover {
  color: white;
  background-color: black;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
}

/* explore section start here */
#explore {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#explore-div {
  height: 90%;
  width: 50%;
  background-color: transparent;
}

#explore-div h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  padding: 20px 0;
}

#explore-div > img {
  border-radius: 20px;
}

#explore-div > p {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 15px;
}


/* =============== galery start here============= */
#gallery{
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}

#gallery-txt{
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 20px;
}

#gallery-img{
  height: 100%;
  width: 100%;
  background-color: blue;
}

/* ==========scroll to  top========= */
.scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 1rem;
  z-index: 1000;
}

.scroll-top img {
  width: 8rem;
  animation: float 3s linear infinite;
  transition: transform 0.5s ease;
}

@keyframes float {
  100%,
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }
}
