@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: #010109;
}




/* ========== Navbar style ============== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: #fff;
  background-color: black;
  width: 100%;
  z-index: 999999;
}

.navbar-logo-and-text {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 1.2rem;
}

.navbar-logo-and-text img {
  width: 80px;
}

.navbar-links {
  display: flex;
  column-gap: 20px;
}

.navbar-links-txt {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  transition: 0.3s linear;
}

.navbar-links-txt:hover {
  background-color: #fff;
  color: black;
  transition: 0.3s linear;
}
/* ========== Navbar style done ============== */




/* ==============explore galaxy btn =============*/
#hero {
  height: 100vh;
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ======= Button style ======= */
.glassdoor-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 19px;
  border-radius: 900px;
  color: #000000;
  background-color: transparent;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.glassdoor-btn:hover {
  transition: 0.3s linear;
  box-shadow: 5px 5px 20px black;
}

/* =============   second section start here ============= */

.section-on-body {
  margin-top: 100px;
  background-color: #010109;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.section-on-body-headings {
  color: white;
  text-align: center;
  font-family: "Outfit", sans-serif;
  padding: 20px;
  font-size: 2.5rem;
}

.section-on-body #second-video {
  width: 80%;
  height: 75%;
  margin-top: 25px;
  background-color: rgb(54, 54, 54);
  border-radius: 30px;
}

/* =============   Third section start here ============= */


#cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
}
.cards {
  width: 350px;
  height: 550px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  border-radius: 15px;
  color: rgb(143, 143, 143);
  padding: 17px;
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.5);
}

.cards-img {
  height: 200px;
}

.cards-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align:justify;
  height: calc(550px - 34px - 200px);
}
.cards-text>h2{
  color: #d1d1d1;
  font-size: 1.5rem;
}
.cards-text>p {
  font-size: 18px;
}

.readmore-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.readmore-btn:hover {
  background-color: #0056b3;
}

.loadmore-btn {
  padding: 12px 30px;
  display: block;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.loadmore-btn:hover {
  color: rgb(167, 167, 167);
  background-color: rgb(63, 63, 63);
}

/* ===============  explore section start here ====================*/
#explore {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#explore .h1 {
  color: white;
  font-size: 35px;
  padding: 10px;
  font-weight: 200;
}

#explore-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
  column-gap: 50px;
}

#exploreleft-img{
  display: flex;
  position: relative;
  max-width: 500px;
  height: 100%;
}

#exploreleft-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

#exploreright-txt {
  text-align: justify;
  color: rgb(172, 172, 172);
  font-size: 30px;
  width: 500px;
}

#exploreright-txt>p {
  padding-bottom: 20px;
}

/* =============== galery start here============= */

.img{
  width: 400px;
  height: min-content;
}

/* ============== contact ================ */
#contact {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-section-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-from {
  height: 90%;
  padding: 20px;
  align-items: center;
}


.contact-from h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 25px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
column-gap: 30px;
}
.names{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 100px;
  border: none;
}
.form-group input[type="email"], .form-group textarea{
  width: 100%;
}
.form-group textarea{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}

/* ==========scroll to  top========= */
.scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 1rem;
  z-index: 1000;
}

.scroll-top img {
  width: 8rem;
  animation: float 3s linear infinite;
  transition: transform 0.5s ease;
}

@keyframes float {

  100%,
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }
}

/* ==================css for loader=============== */