@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");


* {
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}


html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: #181818;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: #bfe000;
}


/* ========== Navbar style ============== */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: #fff;
  background-color: rgb(0, 0, 0);
  width: 100%;
  /* top:0; */
  z-index: 9999999999;
}

.navbar-logo-and-text {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 1.2rem;
}

.navbar-logo-and-text img {
  width: 80px;
}

.navbar-links {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding: 0 30px;
}

.icon #active{
  display: none;
}

.navbar-links-txt {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  transition: 0.3s linear;
}

.navbar-links-txt:hover {
  background-color: #fff;
  color: black;
  transition: 0.3s linear;
  text-decoration: none;
}


/* ========== Navbar style done ============== */




/* ==============explore galaxy btn =============*/
.body-start {
  position: relative;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.body-start img {
  width: 100%;
  height: auto;
}

#hero {
  height: 100vh;
  background-image: url('/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ======= Button style ======= */
.glassdoor-btn {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 19px;
  border-radius: 900px;
  color: #010042;
  background-color: transparent;
  background-color: #cae8ff;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.glassdoor-btn:hover {
  transition: 0.3s linear;
  color: white;
  background: linear-gradient(135deg, #c06dff, #76d3ff);
  box-shadow: 20px 20px 200px rgb(126, 0, 199),
    -20px -20px 200px rgb(126, 0, 199),
    -20px -20px 200px rgb(126, 0, 199),
    20px 20px 200px rgb(126, 0, 199);
}

/* =============   second section start here ============= */

.section-on-body {
  margin-top: 100px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.section-on-body-headings {
  color: white;
  text-align: center;
  font-family: "Outfit", sans-serif;
  padding: 20px;
  font-size: 2.5rem;
}

.section-on-body #second-video {
  width: 40%;
  height: 75%;
  margin-top: 25px;
  background-color: rgb(54, 54, 54);
  border-radius: 30px;
}

/* =============   Third section start here ============= */


#cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  margin-bottom: 50px;
}

.cards {
  width: 320px;
  height: 580px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  border-radius: 15px;
  color: rgb(143, 143, 143);
  padding: 17px;
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.5);
}

.cards-img {
  height: 200px;
}

.cards-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.cards-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: justify;
  height: calc(550px - 34px - 200px);
}

.cards-text>h2 {
  color: #d1d1d1;
  font-size: 1.5rem;
}

.cards-text>p {
  font-size: 18px;
}

.readmore-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.readmore-btn:hover {
  background-color: #0056b3;
}

.loadmore-btn {
  padding: 12px 30px;
  display: block;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.loadmore-btn:hover {
  color: rgb(167, 167, 167);
  background-color: rgb(63, 63, 63);
}

/* ===============  explore section start here ====================*/
#explore {
  height: 100vh;
  text-align: center;
}

#explore .h1 {
  color: white;
  font-size: 35px;
  padding: 10px;
  font-weight: 200;
}

#explore-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
  column-gap: 50px;
}

#exploreleft-img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 100%;
}

#exploreleft-img img {
  border-radius: 10px;
  width: 85%;
  height: 100%;
}

#exploreright-txt {
  text-align: justify;
  color: rgb(172, 172, 172);
  font-size: 30px;
  width: 500px;
}

#exploreright-txt>p {
  padding-bottom: 20px;
}

/* =============== galery start here============= */

.col-sm {
  display: flex;
  justify-content: center;
}

.img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 1px 3px 10px rgb(235, 235, 235);
}

/* ============== contact ================ */
input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}

::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #0a0a0a;
  font-weight: 300;
}


/* Contact Form Styling */

.textcenter {
  text-align: center;
}

.section1 {
  text-align: center;
  display: table;
  width: 100%;
}

.section1 .shtext {
  display: block;
  margin-top: 20px;
}

.section1 .seperator {
  border-bottom: 1px solid #d3d3d3;
  width: 35px;
  display: inline-block;
  margin: 20px;
}


.section2 {
  width: 1200px;
  margin: 25px auto;
}

.section2 .col2 {
  width: 48.71%;
}

.section2 .col2.first {
  float: left;
}

.section2 .col2.last {
  float: right;
}

.section2 .col2.column2 {
  padding: 0 30px;
}

.section2 span.collig {
  color: #e2e2e2;
  margin-right: 10px;
  display: inline-block;
}

.section2 .sec2addr {
  display: block;
  line-height: 26px;
}

.section2 .sec2addr p {
  margin-bottom: 10px;
  color: #a5a5a5;
}

.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  background: #e2e2e2;
  margin: 7px 0;
}

.section2 .sec2contactform textarea {
  width: 100%;
  display: block;
  color: #000000;
  resize: none;
}

.section2 .sec2contactform h3 {
  font-weight: normal;
  margin: 20px 0;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 19px;
  color: #d1d1d1;
}

/* @media querries */


/* ==========scroll to  top========= */
.scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.scroll-top img {
  width: 4rem;
  animation: float 3s linear infinite;
  transition: transform 0.5s ease;
}

@keyframes float {

  100%,
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }
}

/* ==================css for loader=============== */



/*================= footer section start here ============= */
#footer {
  background: rgb(34, 34, 34);
  color: #d1d1d1;
  font-size: 14px;
  margin-top: 50px;
}

.row {
  margin: auto;
  margin-top: 30px;
  row-gap: 30px;
}

.modifiedFooterTop {
  padding: 20px 0;
}

.modifyRow {
  align-items: flex-start;
}

.footer-contact {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;
}

#footer .footer-top .footer-contact ul a {
  color: #aaaaaa;
  transition: 0.3s linear;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-contact ul a:hover{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#footer .footer-top .footer-contact ul li {
  padding: 10px 0;
  display: flex;
  column-gap: 10px;
  font-size: 1.09rem;
  align-items: center;
}

#footer .footer-top .footer-contact ul i {
  color: #ebebeb;
}

#footer .footer-top .container h4::after {
  content: "";
  top: 84px;
  left: 15px;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #0056b3;
}

.modifiedFooter {
  font-size: 1.09rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse;
}

.socialLinkMod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.fa-whatsapp{
  color:#03DD45;
}
.fa-twitter{
  color:#1DA1F2;
}
.fa-facebook{
  color:#1877F2;
}
.fa-instagram{
  color:#E10289;
}
.fa-youtube{
  color:#FF0000;
}
.fa-linkedin{
  color:#0A66C2;
}
.fa-discord{
  color:#404EED;
}
.fa-github{
  color:#FFFFFF;
}
#footer .social-links a{
  text-decoration: none;
  font-size: 1.4rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}
#footer .social-links a:hover{
  transform: scale(1.2);
  transition: 0.3s linear;
}