
html, body{
    text-align: center;
    font-family: 'Google Sans', sans-serif;
    background-image: url("Space-Background-Image-2-1536x1024.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}