* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: rgb(219, 219, 219);
}

body:hover {
  cursor: url('/img/cursor-rocket.png'), auto;

}

.faq-sec {
  height: 100vh;
  width: 90%;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-sec h2 {
  font-size: 2.5rem;
}


.title-faq {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq {
  max-width: 1000px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(219, 219, 219);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  color: #bebebe;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active .icon {
  transform: rotate(180deg);
  transition: 1s ease-in-out;
}

.icon {
  transition: 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}