@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");


* {
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: #181818;
}
nav:hover, section:hover, #gallery:hover{
  cursor: url('/img/cursor-rocket.png'), auto;
}
.bg-black{
    background-color: rgb(34, 34, 34);
}
.rounded img{
  object-fit: contain;
  aspect-ratio: 3 / 2;
}